<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-farm-heading" data-cy="FarmCreateUpdateHeading" jhiTranslate="blogApp.farm.home.createOrEditLabel">
        Create or edit a Farm
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.farm.farmID" for="field_farmID">Farm ID</label>
          <input type="text" class="form-control" name="farmID" id="field_farmID" data-cy="farmID" formControlName="farmID" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.farm.pformID" for="field_pformID">Pform ID</label>
          <input type="text" class="form-control" name="pformID" id="field_pformID" data-cy="pformID" formControlName="pformID" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.farm.farmName" for="field_farmName">Farm Name</label>
          <input type="text" class="form-control" name="farmName" id="field_farmName" data-cy="farmName" formControlName="farmName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.farm.farmType" for="field_farmType">Farm Type</label>
          <select class="form-control" name="farmType" formControlName="farmType" id="field_farmType" data-cy="farmType">
            <option [ngValue]="null">{{ 'blogApp.FarmType.null' | translate }}</option>
            <option *ngFor="let farmType of farmTypeValues" [value]="farmType">{{ 'blogApp.FarmType.' + farmType | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.farm.farmSubType" for="field_farmSubType">Farm Sub Type</label>
          <select class="form-control" name="farmSubType" formControlName="farmSubType" id="field_farmSubType" data-cy="farmSubType">
            <option [ngValue]="null">{{ 'blogApp.SubType.null' | translate }}</option>
            <option *ngFor="let subType of subTypeValues" [value]="subType">{{ 'blogApp.SubType.' + subType | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.farm.farmDescription" for="field_farmDescription">Farm Description</label>
          <input
            type="text"
            class="form-control"
            name="farmDescription"
            id="field_farmDescription"
            data-cy="farmDescription"
            formControlName="farmDescription"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
