<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="farm">
      <h2 data-cy="farmDetailsHeading"><span jhiTranslate="blogApp.farm.detail.title">Farm</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ farm.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.farm.farmID">Farm ID</span></dt>
        <dd>
          <span>{{ farm.farmID }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.farm.pformID">Pform ID</span></dt>
        <dd>
          <span>{{ farm.pformID }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.farm.farmName">Farm Name</span></dt>
        <dd>
          <span>{{ farm.farmName }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.farm.farmType">Farm Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'blogApp.FarmType.' + farm.farmType }}">{{ farm.farmType }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.farm.farmSubType">Farm Sub Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'blogApp.SubType.' + farm.farmSubType }}">{{ farm.farmSubType }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.farm.farmDescription">Farm Description</span></dt>
        <dd>
          <span>{{ farm.farmDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/farm', farm.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
